.inquire_Section {
  padding: 2rem 0 6rem 0;
  background-color: var(--bg-overlay-color);
}
.main_Grid {
  display: grid;
  max-width: 730px;
  grid-template-columns: 230px 490px;
  margin: auto;
  justify-content: center;
  align-items: end;
}
.img_container {
  width: 230px;
  height: 344px;
  position: relative;
}
.img_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info {
  height: fit-content;
  margin-inline-start: -20px;
}
.info h1 {
  line-height: 1.4;
  font-weight: 200;
  font-size: 35px;
  position: relative;
  padding-bottom: 1.5rem;
  margin-top: 0;
}
.info h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70%;
  border-bottom: 1px solid black;
}
.info p {
  font-style: italic;
  font-weight: 100;
  font-family: "Cormorant SC", serif;
  font-size: 25px;
  margin-bottom: 1.5rem;
}
.info a {
  margin-inline-start: 35px;
}

@media (max-width: 760px) {
  .main_Grid {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .info {
    margin: 0 20px;
  }
  .info a {
    margin: auto;
  }
}

@media (max-width: 440px) {
  .main_Grid {
    display: flex;
  }
  .inquire_Section {
    padding-top: 0;
    padding-bottom: 2rem;
    background-color: var(--bg-overlay-color);
    border-bottom: 1px solid;
    
  }
  .info h1 {
    font-size: 18px;
    padding-bottom: 10px;
  }
  .info p {
    font-size: 12px;
    margin-bottom: 6px;
  }
  .img_container {
    width: 160px;
    height: 190px;
    top: -14px;
    right: -18px;
  }
  .img_container img {
    width: auto;
    height: 100%;
    object-fit: cover;
    position: absolute;
    right: -25px;
  }
  .inquire_Section a {
    margin-inline-start: 5px;
    scale: 0.7;
    left: -30px;
  }
  .info {
    margin: 10px 20px;
  }
}
